<div class="content-container">
    <h2 class="header-text">Our latest submissions</h2>
    <div role="list" class="image-track" #imageTrack data-mouse-down-at="0" data-prev-percentage="0" data-percentage="0">
        <img class="image" src="../../../../assets/e1.jpg" alt="Photo submission" draggable="false">
        <img class="image" src="../../../../assets/e2.jpg" alt="Photo submission" draggable="false">
        <img class="image" src="../../../../assets/e3.jpg" alt="Photo submission" draggable="false">
        <img class="image" src="../../../../assets/e4.jpg" alt="Photo submission" draggable="false">
        <img class="image" src="../../../../assets/e5.jpg" alt="Photo submission" draggable="false">
    </div>
</div>

