

app-flip-card{
    width: 40%;
}


.login-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

app-close-button{
    margin-left: auto;
}



.form-header{
    font-size: var(--step-2);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    & h1 {
        font-size: var(--step-2);
        margin-bottom: 0;
    }
}


.submit-button {
    font-size: var(--step-2);
    margin-bottom: 2rem;
}

app-form-field {
    width: 75%;
}


@media (max-width: 1500px) {
    app-flip-card {
        width: 50%;
    }
}

@media (max-width: 1100px) {
    app-flip-card {
        width: 66%;
    }
}

@media (max-width: 850px) {
    app-flip-card {
        width: 75%;
    }

    app-form-field {
        width: 90%;
    }
}

@media (max-width: 600px) {
    app-flip-card {
        width: 90%;
    }

    app-form-field {
        width: 90%;
    }
}

