<app-flip-card>
  <section class="login-content" aria-label="Login form">
    <app-close-button></app-close-button>
    <h2 class="form-header" id="dialogTitle">Change your password</h2>
    <p id="dialogDescription" class="sr-only">
      To change your password, enter your current password, followed by a new
      password, and confirm the new password in the provided fields.
    </p>
    <form aria-label="Form to change password" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="form">
      <app-form-field
        #currentPassword
        label="Current password"
        controlName="currentPassword"
        [formGroup]="changePasswordForm"
        [required]="true"
        type="password"
        id="currentPassword"
        [autofocus]="true"
      >
      </app-form-field>
      <app-form-field
        label="New password"
        controlName="newPassword"
        [formGroup]="changePasswordForm"
        [required]="true"
        type="password"
        id="newPassword"
      >
      </app-form-field>
      <app-form-field
        label="Confirm new password"
        controlName="confirmNewPassword"
        [formGroup]="changePasswordForm"
        [required]="true"
        type="password"
        id="confirmNewPassword"
      >
      </app-form-field>
      <button
        aria-label="Submit to change your password"
        class="btn-primary submit-button"
        [disabled]="!changePasswordForm.valid"
        type="submit"
      >
        Change password
      </button>
    </form>
  </section>
</app-flip-card>
